body {
    width: auto;
    height: 100vh;
    font-family: monospace, sans-serif;
    font-size: 16px;
    background: #000000;
    color: #ffffff;
}

h1 {
    font-size: 3em;
    text-align: center;
}
 
#description {
    font-size: 2em;
    text-align: center;
}
form {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

}