body {
    width: auto;
    height: 100vh;
    font-family: monospace, sans-serif;
    font-size: 16px;
    background: #121212;
    color: #ffffff;
}

h1 {
    font-size: 3em;
    text-align: center;
    text-transform: capitalize;
}
 
#description {
    font-size: 2em;
    text-align: center;
    text-transform: capitalize;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    border-style: solid;
    border-radius: 0.1%;
    padding: 25px;
    margin: 25px;
}
h3 {
    text-transform: capitalize;
}